{% extends "case/base.html" %}
{% block content %}
    {% for case in Case %}
       <case class="media content-section">
            <div class="media-body">
                <div class="article-metadata">

                    <p><small class="media content-section">{{ case.created|date:"F d, Y" }}</small></p>
                </div>
                <h10><a class="article-title" href="{% url 'case:case-detail' case.id %}"> Firmanavn : {{case.case_info.company}}</a></h10>
                <p> Sagens titel:  {{case.title}}</p>
                <p> Sagens beskrivelse: {{case.description}}</p>
                <p> Sagsbehandlerens navn : {{case.case_info.caseworker}}</p>
                <p> Sagens status:  {{case.case_info.status}}</p>
            </div>

       </case>
    {% endfor %}
<a href="{{request.META.HTTP_REFERER}}">Go back</a>
{% endblock content %}