{% extends "case/base.html" %}
{% block content %}
    {% for case in Case %}
       <case class="media content-section">
            <div class="media-body">
                <div class="article-metadata">

                    <p><small class="text-muted">{{ case.created|date:"F d, Y" }}</small></p>
                </div>
                <h10><a class="article-title" href="#"> Firmanavn : {{case.case_info.company}}</a></h10>
                <p> Sagsbehandleren navn : {{case.case_info.caseworker}}</p>
                <p> Case status:  {{case.case_info.status}}</p>
            </div>
       </case>
    {% endfor %}
{% endblock content %}