{% extends "case/base.html" %}
{% block content %}
    <case class="media content-section">
        <!-- <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">  den vil vise billed af den user som har oploadet under hver post i home page.-->
          <div class="media-body">
            <div class="article-metadata">
                <small class="text-muted">{{ object.created|date:"F d, Y" }}</small>
            </div>
            <h2 class="article-title" >{{ object.title }}></h2>
              <p class="article-content">{{ object.case_info.status}}</p>
              <div>
              {% if deletable %}
                  <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'case:case-delete' object.id %}">Slet</a>
              {% endif %}
              {% if editable %}
                  <a class="btn btn-outline-info btn-sm mt-1 mb-1" href="{% url 'case:case-create-new' object.case_info.id %}">Tilføj kommentar</a>
              {% endif %}
              </div>
          </div>
        </case>
{% endblock content %}
