{% extends "case/base.html" %}
{% load crispy_forms_tags %} <!-- så får vi lov til at bruge cripsy filter -->
{% load static %}

{% block content %}

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}  <!-- sikre hjemmesiden -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Anmeldelse</legend>
                <input type="hidden" id="myTextArea" name="user_text">
                {{ form |crispy}} <!-- bruge vertical bar charcter for at bruge a filter. som vi har brugt crispy-->

            </fieldset>

            <div class="form-group">
                <button id="saveButton" class="btn btn-outline-info" type="submit">Indsend</button>
            </div>
        </form>
    </div>

    <script src="{% static 'js/FileSaver.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var saveButton = document.getElementById("saveButton");
            saveButton.addEventListener("click", function () {
                var textToSave = document.getElementById("myTextArea").value;
                var blob = new Blob([textToSave], { type: "text/plain;charset=utf-8" });
                saveAs(blob, "myTextFile.txt");
            });
        });
    </script>
{% endblock content %}